.admin-page {
    padding: 20px;
    margin-top: 100px;
    text-align: left;
    width: 1400px;
    margin: auto auto;

    img {
        border-radius: 50%;
        border: 1px solid $border;
    }

    figure {
        margin: 0;
    }

    .lavish-table {
        margin-bottom: 40px;
    }
}