.home {
    padding: 7% 0;

    h1 {
        width: 100%;
        color: $text-color;
    }

    .featured-posts-container {
        display: flex;
    }

}

@media screen and (max-width: 900px) {
    .home {
        h1 {
            margin: 5;
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        .row {
            margin: 0;
        }

        .featured-posts-container {
            flex-direction: column;
            width: 100%;
        }
    }
}