.signin-container {
    background: linear-gradient(173deg, transparent, rgba(90, 200, 250, .1), transparent, rgba(64, 156, 255, 0.1), transparent);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .form-container {
        border: 1px solid $border;
        background: white;
        max-width: 700px;
        width: 90%;
        position: absolute;
        bottom: calc((100vh - 500px) / 4);
        min-height: 400px;
        border-radius: 4px;
        padding: 60px 80px 100px;

        .forgot-pwd {
            margin-bottom: 20px;
            margin-top: 20px;
            color: $secondary!important;
            cursor: pointer;
        }

        .input-container {
            width: 100%;
            text-align: left;

            label {
                margin-top: 25px;
            }
        }

        .ant-tabs-content {
            width: 70%;
            margin: 30px auto;
        }
    }
}