.lavish-menu-bar {
    background: rgba(0,0,0,0.4);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    li {
        list-style-type: none;
        padding: 0px 10px;
    }
}

@media screen and (max-width: 759px) {
/* TODO */
}