body{

.App {
    
    &.light {
        background-color: $lightmode;
        .lavish-menu-bar {
            background: $lightmode;
            color: $text;
        }
        .video-container {
            background-color: $lightmode;
        }

        .overlay2::before {
            background-color: $lightmode;
        }
        .overlay2 {
            color: $text;
        }
        .header{
            background-color: $lightmode;
            color: $text;
            transition: 500ms ease all;
        }
        .lavish-icon-row{
            background-color: $lightmode;
            color: $text;
            transition: 500ms ease all;
        }
        .single-feature{
            color: $text;
        }
        .lavish-animate{
            color: $text;
        }
        .lavish-background-image .header h1, p {
            color: $text;
        }       
        .lavish-pricing{
            transition: 500ms ease all;
            background-color: $lightmode;
            
        }
        .lavish-pricing .single-pricing {
            background-color: $lightmode;
            border: 1px solid #ccc;
            background-color: #f9f9f9
        }
        .lavish-pricing .pricing-header h3 {
            color: $text;    
        }
        .lavish-pricing .pricing-body ul li {
            color: $text;    
        }
        .lavish-menu-bar ul.active {
            background-color: $lightmode;
            color: $text;  
            }
        }
    }
}